#canvas{
    display: block;
    border: 1px solid black;
}

#points::before{
    content: "Score: ";
    font-size: 28px;
}
#points{
    font-size: 28px;
    font-weight: 900;
    color: red;
}

#pauseBtn{
    margin-top: 16px;
}